body {
  margin: 0;
  font-family: "Asap", sans-serif;
  background-color: rgb(245, 245, 245);
  background-image: linear-gradient(180deg, rgb(150, 235, 70), rgb(20, 43, 6));
  margin-bottom: 200px;
}

.header-box {
  width: 100%;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
}
.header-box header {
  width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header-box header .logo {
  padding: 8px 15px;
  background-color: yellowgreen;
  border-radius: 10px;
}
.header-box header .logo a {
  font-size: 24px;
  font-weight: 500;
  color: black;
}
.header-box header nav {
  font-size: 20px;
}
.header-box header nav a {
  margin-left: 20px;
}
.header-box header nav a:hover {
  color: yellowgreen;
}

.container {
  width: 1320px;
  margin: 0 auto;
}
.container .newComment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .newComment form {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  padding: 40px 80px;
  background-color: greenyellow;
  border-radius: 35px;
}
.container .newComment form .comment #comment, .container .newComment form .name #name {
  width: 400px;
  height: 50px;
  margin-bottom: 25px;
  border-radius: 20px;
  border: 0;
  text-align: center;
  font-size: 16px;
  background-color: rgb(245, 245, 245);
}
.container .newComment form .comment #comment:hover, .container .newComment form .name #name:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}
.container .newComment form .comment #comment:focus, .container .newComment form .name #name:focus {
  outline: none;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
}
.container .newComment form input[type=button] {
  margin-top: 30px;
  width: 408px;
  height: 80px;
  border-radius: 20px;
  border: 0;
  background-color: rgb(245, 245, 245);
  font-size: 18px;
  font-weight: bold;
}
.container .newComment form input[type=button]:hover {
  background-color: white;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.container .commentBoard .info-text {
  padding: 20px 30px;
  background-color: black;
  box-shadow: 0 0 10px 4px rgba(173, 255, 47, 0.5);
  color: greenyellow;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 30px;
}
.container .commentBoard .info-text h1 {
  margin: 12px 0;
}
.container .commentBoard .info-text p {
  font-size: 16px;
  margin: 12px 0;
}
.container .commentBoard .comments {
  margin-top: 50px;
}
.container .commentBoard .comments .comment {
  background-color: rgb(173, 255, 47);
  padding: 8px 8px;
  border-radius: 20px;
  margin-bottom: 45px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}
.container .commentBoard .comments .comment .info {
  background-color: white;
  border-radius: 15px;
  padding: 5px 15px;
}
.container .commentBoard .comments .comment .info h3 {
  margin: 8px 0;
}
.container .commentBoard .comments .comment .info p {
  margin: 8px 0px;
}
.container .commentBoard .comments .comment .hidden-info {
  display: none;
  background-color: greenyellow;
  justify-content: space-between;
}
.container .commentBoard .comments .comment .hidden-info .action, .container .commentBoard .comments .comment .hidden-info .stats {
  display: flex;
}
.container .commentBoard .comments .comment .hidden-info p, .container .commentBoard .comments .comment .hidden-info a {
  color: black;
  margin: 6px 12px 0px 12px;
  padding: 1px 5px;
}
.container .commentBoard .comments .comment .hidden-info a:hover {
  color: greenyellow;
  background-color: black;
  border-radius: 6px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.container .commentBoard .comments .comment:hover .hidden-info {
  display: flex;
}
.container .commentBoard .comments .comment:hover {
  margin-bottom: 19px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

.highlight {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: aquamarine;
  }
  nav {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */